body, html {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}

/*Main Banner HouseFull H1*/
.instructions .container h1 {
  font-size: 48px;
  font-weight: 600;
}

/*Main Banner*/
.instructions {
  background-color: #FF6633;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #FF9966;
  width: 100%;
  border-radius: 0px;
}


/*Register Form Specific*/
.btn-reg {
  font-size: 20px;
  font-weight: bold;
  background-color: #66CC99;
  margin-top: 10px;
  margin-bottom: 10px;
}


.reg-form {
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.register {
  height: 1000px;
  width: 100%;
  background-color: #99CCCC;
}

/*End of Register Form Specific*/

/*Start login page styling*/

.btn-login {
  font-size: 20px;
  font-weight: bold;
  background-color: #66CC99;
  margin-top: 10px;
  margin-bottom: 10px;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  color: white;
  text-decoration: none;

}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}



.taskCards {
  background-color: #FFCC66;

}

.postTask {
  background-color: #FFCC99;
}
