<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>



<!-- Create a house form  -->
  <p>I want to:</p>
  <div>
    <button type="button" ng-click="uc.createToggle()" ng-hide="uc.joinVisible">Create a New House</button>
      <p ng-show="uc.createVisible">Name Your House!</p>
      <input ng-show="uc.createVisible" type="text" ng-model="uc.house.houseName" placeholder="House Name">
      <input ng-show="uc.createVisible" type="text" ng-model="uc.house.code" placeholder="Create a house pin">
      <button ng-show="uc.createVisible" ng-click="uc.createHouse()">Create!</button>

  </div>
    <a ng-show="uc.createVisible" href="#home">Cancel</a>
<!-- join input submission will call a separate put req function -->

    <button ng-hide="uc.createVisible" type="button" name="button" ng-click="uc.joinToggle()">Join an Existing House</button>
    <div ng-show="uc.joinVisible">
      <p ng-show="uc.joinVisible">Enter your House Name</p>
      <input ng-show="uc.joinVisible" type="text" ng-model="uc.join.houseName" placeholder="House Name">
      <input ng-show="uc.joinVisible" type="text" ng-model="uc.join.code" placeholder="House Code">
      <button ng-show="uc.joinVisible" ng-click="uc.joinHouse()">Join!</button>
      <a href="#home">Cancel</a>
    </div>

<!-- the join is probably a separate function from create. -->


<!--
  <input class="btn btn-default" type="submit" name="submit" value="Register" />
  <a href="#home">Cancel</a> -->


</div>
