<div class="container">
  <h1 class="lead">Sign Up with HouseFull</h1>
  <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.registerUser()">
      <div>
        <label for="username">Username:</label>
        <input type="text" ng-model="lc.user.username" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" ng-model="lc.user.password" />
      </div>
<!-- This section let users to create a house name or associate their account with an existing house -->
      <p>I want to:</p>
      <div class="">
        <button type="button" ng-click="lc.createToggle()" ng-hide="lc.joinVisible">Create a New House</button>
        <form ng-show="lc.createVisible == true">
          <p ng-show="lc.createVisible">Name Your House!</p>
          <input ng-show="lc.createVisible" type="text" ng-model="lc.user.houseName">
        </form>
        <button ng-hide="lc.createVisible" type="button" name="button" ng-click="lc.joinToggle()">Join an Existing House</button>
        <form ng-show="lc.joinVisible">
          <p ng-show="lc.joinVisible">Enter your House Name</p>
          <input ng-show="lc.joinVisible" type="text" ng-model="lc.user.houseName">
        </form>
      </div>
  <!--  -->
      <input class="btn btn-default" type="submit" name="submit" value="Register" />
      <a href="#home">Cancel</a>
    </form>
  </div>
